 @import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
 @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");



body {
  text-align: center;
  background-color: #011F3F;
  position: relative;
  line-height: 1.5;
}



#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  50px auto 30px;
  color: #FEF2BF;
  position: relative;
  width: 70%;
}

.container {
  display: block;
  max-width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.box {
  margin: 15px 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

.green{
  color: green;
}

.red{
  color: red;
}

.yellow{
  color: yellow;
}

.blue{
  color: blue;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}


.start{
  font-family: 'Press Start 2P', cursive;
  padding: 15px;
  text-align: center;
  background-color:  #FEF2BF;
  color: #080324be;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}

.help{
  font-family: 'Press Start 2P', cursive;
  padding: 15px;
  text-align: center;
  background-color:  #FEF2BF;
  color: #080324f3;
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 0;
  border-radius: 10px;
  border: none;
}

.explainer{
  color: #f8f3db;
  background-color: #360366fa;
  max-width: 40%;
  width: 18rem;
  position: fixed;
  left: -100%;
  top: 0;
  text-align: left;
  font-size: 14px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  padding: 8px 20px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.explainer.active{
  top: 6%;
  left: 20%;
  transition: 0.5s ease-in-out;
}

li{
  padding-top: 8px;
  margin-left: -10px;
}

footer{
  bottom: 50px;
  font-size: 12px;
  font-family: 'Bai Jamjuree', sans-serif;
  color: white;
  margin: 20px;
}

a{
  color: white;
  text-decoration: dashed;
}
a:hover{
  text-decoration: overline;
  color: #d8533b;
}

footer span{
  display: block;
}

/* -------MEDIA QUARIES-------  */
@media (max-width: 840px) {
#level-title {
  font-size: 1.7rem;
}

.container {
  width: 50%;
}

.box {
  height: 130px;
  width: 130px;
}

.help{
  padding: 15px 15px;
  font-size: 12px;
  left: 10px;
  top: 0;
}

.explainer{
  max-width: 60%;
  width: 20rem;
  top: 62px;
  padding: 8px 15px;
  
}
}


@media (max-width: 620px) {
  
  #level-title {
    font-size: 1.2rem;
  }

  .container{
    margin: 60px auto;
  }
  
  .box {
    height: 100px;
    width: 100px;
  }
  
.help{
  padding: 10px;
  font-size: 11px;
  left: 0;
}

.explainer{
  top: 52px;
  font-size: 14px;
}
}
